/* frontpage banner slideshow */
.isu-banner-view {
	margin-top: -6px;
	height: 340px;
	width: 960px;
	position: relative;
}

.isu-banner-view .views-slideshow-controls-bottom {
	position: absolute;
	bottom: 10px;
	left: 795px;
	z-index: 50;
	width: 100%;
}

.isu-banner-view .views-field-counter {
	float: left;
	cursor: pointer;
	background-color: #ccc;
	background-color: rgba(255,255,255,0.7);
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	color: #333;
	height: 13px;
	line-height: 13px;
	margin-left: 6px;
	padding: 4px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 12px;
}

.isu-banner-view .views-field-counter:hover {
	background-color: #fff;
}

.isu-banner-view .active .views-field-counter {
	background: #b01825;
	color: #fff;
}

.isu-banner-view .views_slideshow_controls_text_previous {
	display: none;
}

.isu-banner-view .views_slideshow_controls_text_next {
	display: none;
}

.isu-banner-view .views_slideshow_controls_text {
	float: left;
	margin-top: 3px;
}

.isu-banner-view .views_slideshow_controls_text_pause {
	cursor: pointer;
	background-color: #ccc;
	background-color: rgba(255,255,255,0.7);
	background-image: url('playpause.png');
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	color: #333;
	height: 13px;
	line-height: 13px;
	margin-left: 6px;
	padding: 10px;
	padding-top: 4px;
	padding-bottom: 2px;
	position: relative;
	text-align: center;
	text-decoration: none;
	width: 12px;
}

.isu-banner-view .views_slideshow_controls_text_pause a {
	display: none;
}

.isu-banner-view .views_slideshow_controls_text_pause:hover {
	background-color: #fff;
}

/* content width banner */

/* Override isu_banner css to meet our needs */
.isu-banner-view.view-display-id-block_banner_content {
	height: 269px;
	width: 760px;
	margin-left: -20px;
	margin-top: -12px;
}
.isu-banner-view.view-display-id-block_banner_content .views-slideshow-controls-bottom {
	left: 595px;
}

/* end slideshow */
